.add-staff-form {
  margin-top: 24px;
  padding: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background: #fff;
  width: 500px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15); // stronger shadow for popup

  h4 {
    margin-bottom: 12px;
    font-size: 18px;
  }

  .form-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .field {
      display: flex;
      flex-direction: column;
      flex: 0.5
    }

    label {
      font-size: 14px;
      margin-bottom: 4px;
    }

    input,
    select,
    textarea {
      padding: 6px 10px;
      font-size: 14px;
      border: 1px solid #d1d5db;
      border-radius: 6px;
    }
  }
  .form-row2 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    gap: 8px;
    // div {
    //   flex: 0.5;
    // }

    label {
      font-size: 14px;
      margin-bottom: 4px;
    }

    input,
    select,
    textarea {
      padding: 6px 10px;
      font-size: 14px;
      border: 1px solid #d1d5db;
      border-radius: 6px;
      width: calc(100% - 20px);
    }
  }

  .form-actions {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;

    .btn {
      padding: 8px 16px;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 500;

      &.primary {
        background: #2563eb;
        color: #fff;
        border: none;

        &:hover {
          background: #1d4ed8;
        }
      }
    }
  }
}
.option-bank{
  display: flex;
  gap: 8px;
  align-items: center;
.bank-logo-image{
  width: 30px;
  height: 30px;
  // border-radius: 6px;
}
}
