.dropdown {
  position: absolute;
  bottom: 130px;
  min-width: 300px;
  max-width: calc(100% - 32px);
  width: calc(100% - 32px);
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 200;
  overflow-y: scroll;
  padding: 10px 15px;

  .item {
    padding: 8px 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 80px 1fr 160px;
    align-items: center;
    .thumbs {
      display: flex;
      align-items: center;
      gap: 6px;
      .thumb {
        width: 35px;
        height: 35px;
        border-radius: 6px;
      }
      .more {
        display: inline-block;
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 6px;
        border: 1px solid gainsboro;
        font-weight: 550;
      }
    }
    .shortcut {
      font-weight: 600;
      color: #0078ff;
    }
    .wrap-text {
      display: flex;
      align-items: center;
    }
    .text {
      font-size: 13px;
      color: #444;
      overflow: hidden;
      margin-right: 15px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover,
    &.active {
      background: #f2f6ff;
    }
  }
}
