.customSelect {
 position: relative;
 min-width: 100px;
 max-width: 280px;
 width: 100%;

}

.selectTrigger {
  padding: 4px 16px 4px 16px;
  // border: 1px solid #ddd;
  // border-radius: 6px;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  border-radius: 4px;
  // width: fit-content;

  &:hover {
    border-color: #999;
  }
}

.arrow {
  font-size: 10px;
  color: #666;
}

.optionsList {
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-height: 250px;
  overflow-y: auto;
  z-index: 1000;
}

.optionsListBottom {
  top: 100%;
  margin-top: 4px;
}

.optionsListTop {
  bottom: 100%;
  margin-bottom: 4px;
}

.option {
  position: relative;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.15s;


  &:hover {
    background-color: #e4e3e3;
  }

  &:active {
    background-color: #e8e8e8;
  }
}