.main-initial-message-show{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-decor {
  color: white;
  background-color: #0274a8;
}
