.product-table {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 10px 0px;
  padding: 20px 20px;
  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background: #f5f5f5;
    }

    tr:hover {
      background: #fafafa;
      cursor: pointer;
    }

    button {
      margin-right: 6px;
      padding: 4px 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:first-of-type {
        background: #1890ff;
        color: white;
      }
      &:last-of-type {
        background: #ff4d4f;
        color: white;
      }
    }
  }

  .details-row {
    background: #fcfcfc;

    .details-box {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 6px;
      background: #fff;

      h4 {
        margin-bottom: 8px;
      }

      .details-table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
          border: 1px solid #eee;
          padding: 6px;
        }

        th {
          background: #fafafa;
        }
      }
    }
  }
}
.user-page {
  position: fixed;
  top: 20px;
  right: 100px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  // color: red;
  // margin-right: 50px;
  display: flex;
  gap: 10px;
}
