.product-details {
  padding: 20px 0px;
  .open-btn {
    padding: 10px 16px;
    background: #1890ff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
}
.wrap-title-btn {
  display: flex;
  // justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.title-header {
  font-size: 20px;
  font-weight: 600;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  //   width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  //   margin-bottom: 150px;

  h2,
  h3 {
    margin-bottom: 10px;
  }

  .form-group {
    margin-bottom: 12px;
    display: flex;
    // flex-direction: column;
    gap: 15px;
    .field {
      display: flex;
      flex-direction: column;
    }
    label {
      font-weight: bold;
      margin-bottom: 4px;
    }

    input {
      padding: 6px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    select {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
  .image-group {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    .field {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    label {
      font-weight: bold;
      margin-bottom: 4px;
    }

    input {
      padding: 6px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .image-row {
      display: flex;
      gap: 10px;
    }
  }

  .detail-row {
    display: grid;
    grid-template-columns: 200px 120px 140px 100px 120px 100px 60px 60px;
    gap: 8px;
    margin-bottom: 10px;

    input {
      padding: 6px;
      border-radius: 6px;
      outline: none;
      border: 1px solid gainsboro;
    }
    // .input-size, .input-quantity {
    //     width: 80px;
    // }
    select {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
    }

    button {
      //   background: #ff4d4f;
      border: none;
      color: white;
      padding: 6px 10px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    position: sticky;
    bottom: -20px;
    left: 50%;
    background-color: white;
    padding: 12px 16px;
    border-top: 1px solid gainsboro;

    .cancel-btn {
      background: #aaa;
      padding: 10px 16px;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }

    .save-btn {
      background: #28a745;
      padding: 10px 16px;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
.btn-decor {
      padding: 5px 10px;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;
}
.btn-add {
  margin: 10px 0px;
  color: rgb(255, 255, 255);
  background: #28a745;
}
.btn-delete {
  color: rgb(255, 255, 255);
  background: #ff4d4f;
}
.btn-clone {
  color: #ffffff;
  background: #025cd3a9;
}

.btn-assign {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: #0056b3;
  }
}
