.address-select-wrapper {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: calc(100% - 0px);
}
.select-css {
  display: block;
  min-width: 200px;
  max-width: 350px; // cho đẹp, không quá dài
  padding: 6px 4px;
  margin: 8px 0;

  font-size: 14px;
  font-weight: 500;
  color: #333;

  background-color: #fff;
  border: 1px solid transparent;
  border: 1px solid rgb(230, 227, 227);
  border-radius: 8px;

  appearance: none; // bỏ style mặc định (mũi tên hệ thống)
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;

  transition: all 0.2s ease;

  &:hover {
    border-color: #4096ff;
  }

  &:focus {
    outline: none;
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(22, 119, 255, 0.2);
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
  }
}
