.main-layout {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
}

.body-left {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  height: 100%;
  flex-shrink: 0; /* keep fixed width */
  position: relative;

  .collapsed-btn {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -100%);
    z-index: 200;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
  }
  .sidebar-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    .logo-section {
      height: 100px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
    }
    span {
      font-weight: 650;
      color: #fd5f16;
      font-size: 18px;
    }
  }

  .sidebar-menu {
    position: relative;
    flex: 1;
    // padding: 8px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    .menu-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      gap: 8px;
      color: #b8b8b8;
      padding-bottom: 20px;
    }
    .menu-item {
      width: 100%;
      box-sizing: border-box;
      padding: 12px 10px 12px 10px;
      //   margin-bottom: 4px;
      //   border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.2s;
      position: relative;
      font-weight: 550;
      border-bottom: 1px solid #fd8c577c;
      display: flex;
      align-items: center;
      gap: 10px;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        background-color: rgb(224, 223, 223);
      }

      &.active {
        background-color: rgb(255, 221, 211);
        font-weight: 500;
      }

      &.new-badge::after {
        content: "New";
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #ff6b6b;
        padding: 2px 8px;
        border-radius: 12px;
        font-size: 11px;
      }

      &.coming-soon::after {
        content: "Coming";
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #ffeaa7;
        color: #2d3436;
        padding: 2px 8px;
        border-radius: 12px;
        font-size: 11px;
      }
    }
  }

  .sidebar-menu .menu-item:nth-child(1) {
    border-top: 1px solid #fd8c577c;
  }

  .sidebar-footer {
    // padding: 16px;
    // border-top: 1px solid rgba(255, 255, 255, 0.1);

    .footer-info {
      height: 45px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 6px;
    }
  }
}

.body-right {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
