.main-new-layout {
  position: relative;
  background-image: url("../assets/background-purple10.jpg");
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  padding: 8px 8px 8px 0px;
  .left-menu {
    position: relative;
    width: 60px;
    padding: 0px 0px;
    box-sizing: border-box;
    height: 100%;
  }
  .main-body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary);
    border-radius: 10px;
    display: flex;
    overflow: hidden;

    .body-left {
      width: 180px;
      height: 100%;
    }
    .body-right {
      width: 100%;
      height: 100%;
    }
  }
}
.body-right {
  display: flex;
  flex-direction: column;
  .header {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
  }
  .footer {
    height: 45px;
    width: 100%;
  }
  .content {
    width: 100%;
    flex: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid var(--orange-450);
    border-right: 0px solid transparent;
  }
}
