.main-menu {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--text-on-orange);
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  font-family: "Inter", sans-serif;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;
}
.part-above{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.part-below {
  margin-bottom: 65px;
}
.brand-name {
  font-size: 24px;
  font-weight: 600;
  color: orangered;
  font-style: oblique;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 30px;
}
.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 8px;

  //   margin: 2px 10px;
  .part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  &:hover {
    background: linear-gradient(135deg, #52aefa, #047de0); // light fresh gradient
    color: #ffffff;
  }

  &.active {
    // background: linear-gradient(135deg, #b3e5fc, #76d1fc);
    background: linear-gradient(135deg, #52aefa, #047de0); // light fresh gradient
    font-weight: 550;
    color: #ffffff;
  }

  .icon {
    margin-right: 10px;
    font-size: 18px;
  }
}

.submenu {
  background: #ffffff;
  padding-left: 30px;
  margin-top: 4px;

  .submenu-item {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: background 0.3s ease, color 0.3s ease;

    &:hover {
      background: linear-gradient(135deg, #f1f8e9, #9de9a3); // soft green gradient
      color: #000;
    }
    &.active {
      background: linear-gradient(135deg, #f1f8e9, #9de9a3); // soft green gradient
      font-weight: 600;
      color: #000;
    }

    .icon {
      margin-right: 8px;
      font-size: 16px;
    }
  }
}

.part-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  .img-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}
